<div class="footer">
<small>
<%= link_to "One Month Rails", "http://onemonthrails.com" %> created this pinterest like application using
tutorial, technologies used Ruby, Ruby on Rails, CoffeeScript, JavaScript, HTML, CSS, twitter boot-strap, PostgreSQL.
</small>
</div>